*~
*/.libs/
*.lo
*.o
*.pc
.deps
.testit_history
GPATH
GRTAGS
GTAGS
Makefile
Makefile.in
aclocal.m4
archive
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
build